<a href="https://colab.research.google.com/github/ferranfont/Introduccion_al_trading_algoritmico/blob/main/mi_primer_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
pip install XlsxWriter

Requirement already satisfied: XlsxWriter in /usr/local/lib/python3.7/dist-packages (3.0.2)

In [27]:
import pandas as pd
import numpy as np
import requests
import matplotlib
import xlsxwriter
import math

In [29]:
acciones = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sp_500_stocks.csv')
acciones

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [ ]:
symbol='MSC'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token=Tpk_059b97af715d417d9f49f50b51b1c448'
data = requests.get(api_url).json()
data

In [23]:
# Aqui definimos la estructura de nuestro DataFrame
mis_columnas= ['Ticker','Precio', 'Capitalización','Acciones a comprar']
final_dataframe = pd.DataFrame([],columns =mis_columnas)
final_dataframe

Empty DataFrame
Columns: [Ticker, Precio, Capitalización, Acciones a comprar]
Index: []

In [24]:
final_dataframe = final_dataframe.append(
                                        pd.Series(['AAPL', 
                                                   data['latestPrice'], 
                                                   data['marketCap'], 
                                                   'N/A'], 
                                                  index = mis_columnas), 
                                        ignore_index = True)
final_dataframe

  Ticker  Precio Capitalización Acciones a comprar
0   AAPL   5.118      466043200                N/A

In [ ]:
for i in acciones