<a href="https://colab.research.google.com/github/ferranfont/Introduccion_al_trading_algoritmico/blob/main/mi_primer_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
pip install XlsxWriter

Requirement already satisfied: XlsxWriter in /usr/local/lib/python3.7/dist-packages (3.0.2)

In [27]:
import pandas as pd
import numpy as np
import requests
import matplotlib
import xlsxwriter
import math

In [29]:
acciones = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sp_500_stocks.csv')
acciones

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [ ]:
symbol='MSC'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token=Tpk_059b97af715d417d9f49f50b51b1c448'
data = requests.get(api_url).json()
data

In [23]:
# Aqui definimos la estructura de nuestro DataFrame
mis_columnas= ['Ticker','Precio', 'Capitalización','Acciones a comprar']
final_dataframe = pd.DataFrame([],columns =mis_columnas)
final_dataframe

Empty DataFrame
Columns: [Ticker, Precio, Capitalización, Acciones a comprar]
Index: []

In [47]:
final_dataframe = final_dataframe.append(
                                        pd.Series(['BA', 
                                                   data['latestPrice'], 
                                                   data['marketCap'], 
                                                   'N/A'], 
                                                  index = mis_columnas), 
                                        ignore_index = True)
final_dataframe

  Ticker   Precio Capitalización Acciones a comprar
0   AAPL    5.118      466043200                N/A
1   AAPL  132.630    41208479721                N/A
2     BA   59.500    23070796105                N/A

In [ ]:
# Bucle que recorre el fichero acciones y lee la columna Ticker
for symbol in acciones['Ticker']:
  print (symbol)

In [41]:
# Pasamos un adejetivo a una cadena que creamos con f
adjetivo = 'peligroso'
caracteristica = f'mi perro es {adjetivo}'
print(caracteristica)

mi perro es peligroso

In [53]:
for i in acciones['Ticker'][:80]: #para no ralentizar el proceso lo haremos tan sólo para las primeros 80 símbolos [:80]
  api_url = f'https://sandbox.iexapis.com/stable/stock/{i}/quote?token=Tpk_059b97af715d417d9f49f50b51b1c448'
  data = requests.get(api_url).json()
  final_dataframe = final_dataframe.append(
                                        pd.Series([i, 
                                                   data['latestPrice'], 
                                                   data['marketCap'], 
                                                   'N/A'], 
                                                  index =mis_columnas), 
                                        ignore_index = True)

In [56]:
final_dataframe.head(35)

   Ticker   Precio Capitalización Acciones a comprar
0    AAPL    5.118      466043200                N/A
1    AAPL  132.630    41208479721                N/A
2      BA   59.500    23070796105                N/A
3       A  136.570    40665047170                N/A
4     AAL   18.560    11679904285                N/A
5     AAP  226.300    13999330039                N/A
6    AAPL  171.700  2840778329516                N/A
7    ABBV  150.510   258042626835                N/A
8     ABC  142.000    31007700700                N/A
9    ABMD  308.230    13662074119                N/A
10    ABT  117.550   216385165377                N/A
11    ACN  329.000   213272868845                N/A
12   ADBE  453.590   219154335852                N/A
13    ADI  163.810    86261983116                N/A
14    ADM   78.310    44699544727                N/A
15    ADP  204.360    84585363900                N/A
16   ADSK  220.340    49056208818                N/A
17    AEE   86.730    22616927595                N/A
18    AEP   88.700    43767639458                N/A
19    AES   22.090    14371440171                N/A
20    AFL   63.940    42248086258                N/A
21    AIG   63.090    51368895432                N/A
22    AIV    7.030     1092530404                N/A
23    AIZ  166.370     9718103204                N/A
24    AJG  157.210    33363293486                N/A
25   AKAM  101.380    17050881136                N/A
26    ALB  191.780    22866922841                N/A
27   ALGN  508.410    41028949673                N/A
28    ALK   59.560     7740155896                N/A
29    ALL  132.030    37468296755                N/A
30   ALLE  118.150    10209494422                N/A
31   ALXN  190.000    41308338523                N/A
32   AMAT  133.860   118765990270                N/A
33   AMCR   12.180    18777700585                N/A
34    AMD  119.510   142809171096                N/A