<a href="https://colab.research.google.com/github/ferranfont/Introduccion_al_trading_algoritmico/blob/main/Quant_momentum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**QUANTITATIVE MOMENTUM SYSTEM**

In [160]:
import pandas as pd
import numpy as np
import requests
import matplotlib
import math
from scipy import stats # Esta libreria es nueva y la usaremos para calcular el percentil

In [161]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [162]:
# Importamos todos los tickets del SP500
stocks = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [163]:
# Hacemos un API a un end point de momentum
IEX_CLOUD_API_TOKEN = 'Tpk_059b97af715d417d9f49f50b51b1c448'
symbol='BA'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'avg10Volume': 8150860,
 'avg30Volume': 10135724,
 'beta': 1.331257575374026,
 'companyName': 'Boeing Co.',
 'day200MovingAvg': 216.1,
 'day30ChangePercent': -0.024197552916762302,
 'day50MovingAvg': 216.61,
 'day5ChangePercent': -0.01578332245705773,
 'dividendYield': 0,
 'employees': 143650,
 'exDividendDate': '',
 'float': 0,
 'marketcap': 127311841598,
 'maxChangePercent': 2.273387446647639,
 'month1ChangePercent': -0.03810478961710453,
 'month3ChangePercent': -0.02481107244547036,
 'month6ChangePercent': -0.015074475933287035,
 'nextDividendDate': '',
 'nextEarningsDate': '',
 'peRatio': -15.094430174079287,
 'sharesOutstanding': 611399815,
 'ttmDividendRate': 0,
 'ttmEPS': -14.5,
 'week52change': -0.03971478016021827,
 'week52high': 283.56,
 'week52highSplitAdjustOnly': 288.37,
 'week52low': 187.17,
 'week52lowSplitAdjustOnly': 189.77,
 'year1ChangePercent': -0.04041475273662562,
 'year2ChangePercent': -0.3892791969969657,
 'year5ChangePercent': 0.3031811389158333,
 'ytdChangePercent': 0.04017062964260239}

In [164]:
# Consultamos un campo en particular
data['month1ChangePercent']*100

-3.810478961710453

In [165]:
round(data['peRatio'],1)

-15.1

In [166]:
my_colums = ['Ticker','Descripción', 'Rentab_1año','Rentab_6m','Rentab_1m','PER','n_acciones_a_comprar']
final_dataframe = pd.DataFrame(columns=my_colums)
final_dataframe

Empty DataFrame
Columns: [Ticker, Descripción, Rentab_1año, Rentab_6m, Rentab_1m, PER, n_acciones_a_comprar]
Index: []

In [167]:
final_dataframe = final_dataframe.append(
                                        pd.Series([stocks, 
                                                   data['companyName'], 
                                                   round(data['year1ChangePercent'],2),
                                                   round(data['month6ChangePercent'],2),
                                                   round(data['month1ChangePercent'],2),
                                                   round(data['peRatio'],1),
                                                   'N/A'],  
                                                  index =my_colums), 
                                        ignore_index = True)
final_dataframe

                                              Ticker  ... n_acciones_a_comprar
0      Ticker
0        A
1      AAL
2      AAP
3 ...  ...                  N/A

[1 rows x 7 columns]

In [168]:
# Rellenamos el dataframe en cada una de sus filas (stocks tickers) con el valor que obtenemos de la API call
for i in stocks['Ticker'][:80]: #para no ralentizar el proceso lo haremos tan sólo para las primeros 80 símbolos [:80]
  api_url = f'https://sandbox.iexapis.com/stable/stock/{i}/stats?token=Tpk_059b97af715d417d9f49f50b51b1c448'
  data = requests.get(api_url).json()
  final_dataframe = final_dataframe.append(
                                        pd.Series([i, 
                                                   data['companyName'], 
                                                   round(data['year1ChangePercent'],2),
                                                   round(data['month6ChangePercent'],2),
                                                   round(data['month1ChangePercent'],2),
                                                   round(data['peRatio'],1),
                                                   'N/A'], 
                                                  index =my_colums), 
                                        ignore_index = True)

In [169]:
final_dataframe

                                               Ticker  ... n_acciones_a_comprar
0       Ticker
0        A
1      AAL
2      AAP
3 ...  ...                  N/A
1                                                   A  ...                  N/A
2                                                 AAL  ...                  N/A
3                                                 AAP  ...                  N/A
4                                                AAPL  ...                  N/A
..                                                ...  ...                  ...
76                                                  C  ...                  N/A
77                                                CAG  ...                  N/A
78                                                CAH  ...                  N/A
79                                               CARR  ...                  N/A
80                                                CAT  ...                  N/A

[81 rows x 7 columns]

In [170]:
# Vamos a retirar los que tienen bajo momentum con el método .sort_value()
final_dataframe.sort_values('Rentab_1año', ascending=False, inplace=True)
final_dataframe.reset_index(inplace=True) #reseteamos el índice de nuevo
final_dataframe[:30]

    index Ticker  ...    PER  n_acciones_a_comprar
0      43    APA  ...   20.0                   N/A
1      38   ANET  ...   23.1                   N/A
2      55    AZO  ...   17.4                   N/A
3      40   ANTM  ...    9.3                   N/A
4      19    AIG  ...    2.8                   N/A
5      54    AXP  ...    9.5                   N/A
6      20    AIV  ...  -36.3                   N/A
7       5   ABBV  ...   34.4                   N/A
8      12    ADM  ...    8.2                   N/A
9      35    AMP  ...   15.3                   N/A
10      6    ABC  ...   18.8                   N/A
11     57    BAC  ...    6.3                   N/A
12     65     BK  ...   13.7                   N/A
13     21    AIZ  ...    7.0                   N/A
14     75    BXP  ...   60.7                   N/A
15     50    AVB  ...   33.6                   N/A
16     18    AFL  ...   10.2                   N/A
17      3    AAP  ...   11.4                   N/A
18     72  BRK.B  ...    0.0                   N/A
19      4   AAPL  ...   28.4                   N/A
20     22    AJG  ...   35.4                   N/A
21      9    ACN  ...   35.2                   N/A
22     67    BKR  ...  -69.2                   N/A
23     32    AMD  ...   21.8                   N/A
24     41    AON  ...    0.0                   N/A
25     27    ALL  ...   11.4                   N/A
26     51   AVGO  ...   18.8                   N/A
27     24    ALB  ...  108.5                   N/A
28     13    ADP  ...   31.7                   N/A
29     42    AOS  ...   12.2                   N/A

[30 rows x 8 columns]

In [171]:
final_dataframe['Percentil_1año']=0
final_dataframe['Percentil_6meses']=0
final_dataframe['Percentil_1mes']=0
final_dataframe

    index Ticker  ... Percentil_6meses  Percentil_1mes
0      43    APA  ...                0               0
1      38   ANET  ...                0               0
2      55    AZO  ...                0               0
3      40   ANTM  ...                0               0
4      19    AIG  ...                0               0
..    ...    ...  ...              ...             ...
76     49   ATVI  ...                0               0
77     17    AES  ...                0               0
78     39   ANSS  ...                0               0
79     63   BIIB  ...                0               0
80     14   ADSK  ...                0               0

[81 rows x 11 columns]

In [172]:
n_valores = 50

In [173]:
for i in range(0,n_valores):
  final_dataframe.loc[i,'Percentil_1año'] = round(stats.percentileofscore(final_dataframe['Rentab_1año'],final_dataframe.loc[i,'Rentab_1año']),1)
  final_dataframe.loc[i,'Percentil_6meses'] = round(stats.percentileofscore(final_dataframe['Rentab_6m'],final_dataframe.loc[i,'Rentab_6m']),1)
  final_dataframe.loc[i,'Percentil_1mes'] = round(stats.percentileofscore(final_dataframe['Rentab_1m'],final_dataframe.loc[i,'Rentab_1m']),1)
final_dataframe[:50]

    index Ticker  ... Percentil_6meses  Percentil_1mes
0      43    APA  ...            100.0            69.1
1      38   ANET  ...             97.5            69.1
2      55    AZO  ...             86.4            59.9
3      40   ANTM  ...             89.5            69.1
4      19    AIG  ...             87.7            89.5
5      54    AXP  ...             91.4           100.0
6      20    AIV  ...             73.5            59.9
7       5   ABBV  ...             93.2            91.4
8      12    ADM  ...             96.3            93.8
9      35    AMP  ...             85.2            50.0
10      6    ABC  ...             89.5            93.8
11     57    BAC  ...             84.0            59.9
12     65     BK  ...             68.5            41.4
13     21    AIZ  ...             57.4            96.9
14     75    BXP  ...             73.5            78.4
15     50    AVB  ...             65.4            41.4
16     18    AFL  ...             81.5            78.4
17      3    AAP  ...             64.2            29.0
18     72  BRK.B  ...             79.6            69.1
19      4   AAPL  ...             82.7            78.4
20     22    AJG  ...             77.2            69.1
21      9    ACN  ...             48.1            29.0
22     67    BKR  ...             98.8            98.8
23     32    AMD  ...             77.2            13.0
24     41    AON  ...             60.5            89.5
25     27    ALL  ...             32.7            86.4
26     51   AVGO  ...             93.2            83.3
27     24    ALB  ...             19.8             6.8
28     13    ADP  ...             37.7            13.0
29     42    AOS  ...             57.4            17.9
30     15    AEE  ...             32.7            41.4
31     79   CARR  ...              9.3            17.9
32     45    APH  ...             60.5            50.0
33     48    ATO  ...             73.5            78.4
34     66   BKNG  ...             95.1            96.9
35     47    ARE  ...             25.3            13.0
36     70    BMY  ...             53.1            86.4
37     61    BEN  ...             55.6            13.0
38     30   AMAT  ...             63.0            29.0
39     16    AEP  ...             42.6            41.4
40     73    BSX  ...             37.7            41.4
41     68    BLK  ...             16.7            21.0
42     78    CAH  ...             68.5            86.4
43     77    CAG  ...             68.5            78.4
44     60    BDX  ...             68.5            69.1
45     31   AMCR  ...             42.6            41.4
46     58    BAX  ...             79.6            41.4
47     33    AME  ...             37.7            24.1
48     28   ALLE  ...             11.1            29.0
49      1      A  ...              7.4            34.0

[50 rows x 11 columns]

In [174]:
final_dataframe['Media']=0
final_dataframe

    index Ticker  ... Percentil_1mes  Media
0      43    APA  ...           69.1      0
1      38   ANET  ...           69.1      0
2      55    AZO  ...           59.9      0
3      40   ANTM  ...           69.1      0
4      19    AIG  ...           89.5      0
..    ...    ...  ...            ...    ...
76     49   ATVI  ...            0.0      0
77     17    AES  ...            0.0      0
78     39   ANSS  ...            0.0      0
79     63   BIIB  ...            0.0      0
80     14   ADSK  ...            0.0      0

[81 rows x 12 columns]

In [175]:
from statistics import mean
for i in range(0,n_valores):
  final_dataframe.loc[i,'Media'] = round(mean([final_dataframe.loc[i,'Percentil_6meses'],final_dataframe.loc[i,'Percentil_1año'],final_dataframe.loc[i,'Percentil_1mes']]),1)

final_dataframe.head(22)

    index Ticker  ... Percentil_1mes  Media
0      43    APA  ...           69.1   89.7
1      38   ANET  ...           69.1   88.5
2      55    AZO  ...           59.9   81.3
3      40   ANTM  ...           69.1   85.0
4      19    AIG  ...           89.5   90.8
5      54    AXP  ...          100.0   95.1
6      20    AIV  ...           59.9   75.3
7       5   ABBV  ...           91.4   92.0
8      12    ADM  ...           93.8   93.4
9      35    AMP  ...           50.0   73.7
10      6    ABC  ...           93.8   89.7
11     57    BAC  ...           59.9   76.6
12     65     BK  ...           41.4   65.2
13     21    AIZ  ...           96.9   80.0
14     75    BXP  ...           78.4   79.2
15     50    AVB  ...           41.4   62.8
16     18    AFL  ...           78.4   80.0
17      3    AAP  ...           29.0   57.4
18     72  BRK.B  ...           69.1   75.3
19      4   AAPL  ...           78.4   79.4
20     22    AJG  ...           69.1   73.9
21      9    ACN  ...           29.0   50.2

[22 rows x 12 columns]

In [176]:
# Script para eliminar filas axis=0 o columnas axis=1
#final_dataframe.drop(['12'], axis=1)

In [177]:
# Ordenamos el dataframe segun el campo Media
final_dataframe.sort_values('Media', ascending = False, inplace = True)
final_dataframe = final_dataframe[:50]
final_dataframe

    index Ticker  ... Percentil_1mes  Media
5      54    AXP  ...          100.0   95.1
8      12    ADM  ...           93.8   93.4
7       5   ABBV  ...           91.4   92.0
4      19    AIG  ...           89.5   90.8
22     67    BKR  ...           98.8   90.4
0      43    APA  ...           69.1   89.7
10      6    ABC  ...           93.8   89.7
1      38   ANET  ...           69.1   88.5
3      40   ANTM  ...           69.1   85.0
34     66   BKNG  ...           96.9   82.7
2      55    AZO  ...           59.9   81.3
26     51   AVGO  ...           83.3   81.3
16     18    AFL  ...           78.4   80.0
13     21    AIZ  ...           96.9   80.0
19      4   AAPL  ...           78.4   79.4
14     75    BXP  ...           78.4   79.2
11     57    BAC  ...           59.9   76.6
18     72  BRK.B  ...           69.1   75.3
6      20    AIV  ...           59.9   75.3
20     22    AJG  ...           69.1   73.9
9      35    AMP  ...           50.0   73.7
24     41    AON  ...           89.5   73.5
33     48    ATO  ...           78.4   70.4
42     78    CAH  ...           86.4   67.3
36     70    BMY  ...           86.4   65.2
12     65     BK  ...           41.4   65.2
43     77    CAG  ...           78.4   64.6
15     50    AVB  ...           41.4   62.8
25     27    ALL  ...           86.4   62.7
44     60    BDX  ...           69.1   61.5
17      3    AAP  ...           29.0   57.4
32     45    APH  ...           50.0   57.0
46     58    BAX  ...           41.4   54.7
23     32    AMD  ...           13.0   53.9
21      9    ACN  ...           29.0   50.2
38     30   AMAT  ...           29.0   48.4
29     42    AOS  ...           17.9   46.7
30     15    AEE  ...           41.4   45.7
39     16    AEP  ...           41.4   45.1
40     73    BSX  ...           41.4   43.4
45     31   AMCR  ...           41.4   42.4
37     61    BEN  ...           13.0   41.6
28     13    ADP  ...           13.0   38.5
47     33    AME  ...           24.1   35.0
35     47    ARE  ...           13.0   31.5
27     24    ALB  ...            6.8   31.3
31     79   CARR  ...           17.9   29.6
41     68    BLK  ...           21.0   29.0
49      1      A  ...           34.0   27.0
48     28   ALLE  ...           29.0   26.9

[50 rows x 12 columns]

In [179]:
# Find el proyecto, basta ahora exportarlo a un Excel
final_dataframe.to_excel('portafolio_momentum.xlsx')
print('Fichero excel exportado con éxito. Mira en la carpeta "sample_data"')

Fichero excel exportado con éxito. Mira en la carpeta "sample_data"